{% extends 'base.html.twig' %}

{% block body %}
  

<div class="welcome">
    <h1>Welcome to the <strong>Quiz World!</strong></h1>
    <div class="buttons">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    </div>
    
</div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
    .welcome {
        margin-top: 100px;
        text-align: center;
    }
    
    .buttons > a{
        text-align: center;
        margin-top: 80px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
</style>
{% endblock %}
